@{
    ViewData["Title"] = "Home Page";
}


<div class="card " style="align-content-center " >
   
  <div class="card-body text-center">
   
       
        <a class="" asp-area="" asp-controller="Feallesbase" asp-action="Index">   <img src="\images\IceCream.jpeg" class="img-thumbnail " alt="..."></a>
        <p class="card-text">Vellkome Til My Ice Dream butik</p>

  </div>
    <a href="https://www.instagram.com/myicedream.dk?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" rel="noopener noreferrer">
        <img src="/images/Insta.jpg" alt="Instagram" style="width: 30px; height: 30px;" />
        <p class="card-text">Vores instagram</p>
    </a>

</div>