@{
    ViewData["Title"] = "Home Page";
}


<div class="card " style="align-content-center " >
   
  <div class="card-body text-center">
   
       
        <a class="" asp-area="" asp-controller="Feallesbase" asp-action="Index">   <img src="\images\IceCream.jpeg" @*style="width:50% ; height:50%"*@ class="img-thumbnail " alt="..."></a>
        <p class="card-text">Vellkome Til My Ice Dream butik</p>

  </div>
</div>
<br/>